<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tabbar</key>
	<array>
		<dict>
			<key>title</key>
			<string>Home</string>
			<key>className</key>
			<string>HomeViewController</string>
			<key>image</key>
			<string>Tabbar_Icon_Home</string>
			<key>includeNavigation</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Map</string>
			<key>className</key>
			<string>MapViewController</string>
			<key>image</key>
			<string>Tabbar_Icon_Family</string>
			<key>includeNavigation</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Schedule</string>
			<key>className</key>
			<string>PBXFamilyRootViewController</string>
			<key>image</key>
			<string>Tabbar_Icon_Reminder</string>
			<key>includeNavigation</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>Settings</string>
			<key>className</key>
			<string>SettingsViewController</string>
			<key>image</key>
			<string>Tabbar_Icon_Pillbox</string>
			<key>includeNavigation</key>
			<string>YES</string>
		</dict>
	</array>
</dict>
</plist>
